* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.dino-barn {
    display: flex;
}

.dinosaur {
    border: 2px solid red;
    width: 200px;
}

.assignments {
    display: flex;
    flex-flow: row wrap;
}

.assignment {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 15px;
    width: 300px;
    margin: 5px;
}